{% extends 'adminBase.html.twig' %}
{% block title %}PetAdopt' : Liste des annonces !{% endblock %}
{% block body %}
        {% for message in app.flashes('notice') %}
            <div id="change_mdp_alert" class="alert alert-success">
                 {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice_del') %}
            <div id="change_mdp_alert" class="alert alert-danger">
                 {{ message }}
            </div>
        {% endfor %}
 <h1 class="admin_title"> Liste des annonces </h1>
    <p><a href="{{ path('ad_new') }}" class="btn btn-success" id="add-btn-success">Ajouter</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="title-id">Photo</th>
                <th class="title-id">Titre</th>
                <th class="title-id">Contenu</th>
                <th class="title-id">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}            
                    <tr>
                        <td id="td_image">
                            <img src="{{ asset('uploads/animals/' ~ ad.image) }}" alt="photo animal">
                        </td>                       
                        <td id="td_title">
                            <h6>{{ ad.title }}</h6>                 
                        </td>

                        <td id="td_content">
                           {{ ad.content[:50] ~ '...' }}
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('ad_show', { 'id': ad.id}) }}">Afficher</a>
                            <a class="btn btn-primary" href="{{ path('ad_edit', { 'id': ad.id}) }}">Editer</a>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="{{ ad.animal.name }}" data-modal-confirm-url="{{ path('del_ad', { 'id': ad.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %} 
        </tbody>
    </table>
    <div class="navigation_admin">
         {{ knp_pagination_render(ads) }}
    </div>
{% endblock %}
{% block footer %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Demande de confirmation</h3>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur de vouloir supprimer l'annonce concernée ?</p>
                </div>
                <div class="modal-footer">
                    <a href="" id="btnYes" class="btn btn-default">Oui, je confirme</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Non, j'annule</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $modal = $('.modal');
        $('a.btn-danger').on('click',function(e){
            e.preventDefault();
            $modal.find('a#btnYes').attr('href',$(this).data('modalConfirmUrl'));
            $modal.find('.modal-body p').text("Êtes-vous sûr de vouloir supprimer l'article concernant " + $(this).data('billetTitle'));
            $modal.modal("show");
        })
    });
    
    $(document).ready(function(){
        $('a#btnYes').click(function(){
            $('.alert').show()
        })
    });
</script>
{% endblock %}