{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Modification du mot de passe{% endblock %}
{% block body %}
	<div class="container emp-profile">
		<div class="row">
			<div class="container">
				<div class="fb-profile">
					<img align="left" class="fb-image-lg" src="{{ asset('img/banchat.jpg') }}" alt="Profile image example"/>
					<img align="left" class="fb-image-profile thumbnail" src="{{ asset('img/toutou.jpg') }}" alt="Profile image example"/>
					<div class="fb-profile-text">
						<h1>Modification du mot de passe</h1>
						<hr>
					</div>
				</div>
			</div> <!-- /container -->
		</div>
		<div class="col-md-8">
			<div class="tab-content profile-tab" id="myTabForm">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					{{ form_start(form) }}
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.oldPassword) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.password.first) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form_row(form.password.second) }}
						</div>
					</div>
					<div class="row">
						<div id="profile_modifier_button" class="col-md-6">
							{{ form_row(form.submit) }}
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
{% block footer %}{% endblock %}