{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Mes réservations{% endblock %}
{% block body %}
		{% for message in app.flashes('notice') %}
    		<div class="change_mdp_alert">
    			<div class="alert alert-success">{{ message }}</div>
   			</div>
		{% endfor %}
	<div class="container emp-profile">
		<form method="post">
			<div class="row">
				<div class="container">
					<div class="fb-profile">
						<img align="left" class="fb-image-lg" src="{{ asset('img/banchat.jpg') }}" alt="Profile image example"/>
						<img align="left" class="fb-image-profile thumbnail" src="{{ asset('img/toutou.jpg') }}" alt="Profile image example"/>
						<div class="fb-profile-text">
							<h1 id="profile_username">{{ app.user.getUsername() }}</h1>
							<h2>Informations:</h2>
							<hr>
						</div>
					</div>
					</div> <!-- /container -->
					<div class="col-md-6">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="profile-work">
							<p></p>
							<a href=""></a><br/>
							<a href=""></a><br/>
							<a href=""></a>
							<p></p>
							<a href=""></a><br/>
							<a href=""></a><br/>
							<a href=""></a><br/>
							<a href=""></a><br/>
							<a href=""></a><br/>
						</div>
					</div>
					<div class="col-md-8">
						<div class="tab-content profile-tab" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row">
									<div class="col-md-6">
										<label>Pseudo</label>
									</div>
									<div class="col-md-6">
										<p>{{ app.user.getUsername() }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label>Email</label>
									</div>
									<div class="col-md-6">
										<p>{{ app.user.getEmail() }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label>Mot de passe</label>
									</div>
									<div class="col-md-6" id ="mdp_change_button">
										<a href="{{ path('mdp_change') }}" class="btn btn-outline-info">Modifier le mot de passe</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{% endblock %}
	{% block footer %}
{% endblock %}