{% extends 'base.html.twig' %}

{% block title %}PetAdopt' : Mes réservations{% endblock %}

{% block body %}
<img  id="reserv_banner" src="{{ asset('img/reservation.jpg') }}" alt="image reservation" style="width:100%;">
<h1 class="titre_reserv"> Mes réservations en cours : </h1>
<hr class="hr_liste">
<div class="flex-container">
    {% for booking in bookings %}
        <div class="card" id="card_reserv" style="width:400px">
            <img class="card-img-top" src="{{ asset('uploads/animals/' ~ booking.ad.image) }}" alt="photo des reservations" style="width:100%; height:100%">
            <div class="card-body">
                <h4 class="card-title">{{ booking.ad.title }}</h4>
                <p>
                    <b>Nom :</b> {{ booking.ad.animal.name }} </p>
                    {% if  booking.ad.animal.sexe == 'f' %}
                        <b>Sexe :</b> Femelle
                    {% else %}
                        <b>Sexe :</b> Mâle
                </p>
                {% endif %}
                <div class="metadata">
                    <p>Réservé le {{ booking.createdAt | date('d/m/Y') }} à {{ booking.createdAt | date('H:i') }}</p>
                </div>
                <div class = "button_cancel_reserv">
                    <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="{{ booking.ad.animal.name }}" data-modal-confirm-url="{{ path('del_reservation', { 'id': booking.ad.id}) }}">Annuler la réservation</a>
               </div>
            </div>
        </div> 
    {% else %}
        <h5 class="titre_reserv"> Aucune réservation en cours </h5> 
    {% endfor %}
</div>
{% endblock %}
{% block footer %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Demande de confirmation</h3>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur de vouloir supprimer l'annonce concernée ?</p>
                </div>
                <div class="modal-footer">
                    <a href="" id="btnYes" class="btn btn-default">Oui, je confirme</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Non, j'annule</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $modal = $('.modal');
        $('a.btn-danger').on('click',function(e){
            e.preventDefault();
            $modal.find('a#btnYes').attr('href',$(this).data('modalConfirmUrl'));
            $modal.find('.modal-body p').text("Êtes-vous sûr de vouloir annuler la réservation de " + $(this).data('billetTitle'));
            $modal.modal("show");
        })
    });
    
    $(document).ready(function(){
        $('a#btnYes').click(function(){
            $('.alert').show()
        })
    });
</script>
{% endblock %}
