{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Home - Adopter un animal de compagnie !{% endblock %}
{% block head %}
	<div class="header banner" id="header-perso">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" id="logo_text">
					<p class="ml2"> Adopter un compagnon de vie </p>
					<div class="barre_recherche">
						<nav class="navbar navbar-expand-lg" id="nav_admin">
							<div  id="renseignement">
								{{ form_start(search) }}
								{{ form_row(search.type) }}
								{{ form_row(search.sexe) }}
								{{ form_row(search.region) }}
								{{ form_end(search) }}
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block body %}
	<h1 id="titre_principal"> Adopter en un </h1>
	<div class="Liste_adoption">
		<article>
			<hr class="hr_liste"><br/>
			<div class="zoomInUp">
				<div class="flex-container">
					{% for ad in ads %}
						<div class="card" id="card_accueil" style="width:400px">
							<img class="card-img-top" src="{{ asset('uploads/animals/' ~ ad.image) }}" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title">{{ ad.title }}</h4>
								<div class="metadata">
									Publié le {{ ad.createdAt | date('d/m/Y') }} à {{ ad.createdAt | date('H:i') }}
								</div><br/>
								<p class="card-text">{{ ad.content[:100] ~ '...'  }}</p>
								<a href="{{path('ad_show', { 'id': ad.id})}}" class="btn btn-primary">Lire la suite</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<br/>
			</div>
			<div class="navigation">
		    	{{ knp_pagination_render(ads) }}
			</div>
			<hr class="hr_liste">
		</article>		
	</div>
{% endblock %}
{% block footer %}
	<!-- Footer -->
	<footer class="page-footer font-small blue-grey lighten-5">
		<div style="background-color: #21d192;">
			<div class="container">
				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">
					<!-- Grid column -->
					<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0">Get connected with us on social networks!</h6>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-6 col-lg-7 text-center text-md-right">
						<!-- Facebook -->
						<a class="fb-ic">
							<i class="fa fa-facebook white-text mr-4"> </i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic">
							<i class="fa fa-twitter white-text mr-4"> </i>
						</a>
						<!-- Google +-->
						<a class="gplus-ic">
							<i class="fa fa-google-plus white-text mr-4"> </i>
						</a>
						<!--Linkedin -->
						<a class="li-ic">
							<i class="fa fa-linkedin white-text mr-4"> </i>
						</a>
						<!--Instagram-->
						<a class="ins-ic">
							<i class="fa fa-instagram white-text"> </i>
						</a>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row-->
			</div>
		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
			<a class="dark-grey-text" href="http://localhost/Projet5-DWJ/accueil/"> Yukun.fr</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
	{% block javascripts %}
		<script>
			$('.ml2').each(function(){
			  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
			});

			anime.timeline({loop: true})
			  .add({
			    targets: '.ml2 .letter',
			    scale: [4,1],
			    opacity: [0,1],
			    translateZ: 0,
			    easing: "easeOutExpo",
			    duration: 950,
			    delay: function(el, i) {
			      return 70*i;
			    }
			  }).add({
			    targets: '.ml2',
			    opacity: 0,
			    duration: 1000,
			    easing: "easeOutExpo",
			    delay: 5000
			  });
		</script>
	{% endblock %}
{% endblock %}