{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Home - Adopter un animal de compagnie !{% endblock %}
{% block body %}
	<article>
		<div class="card-header" id="title_show">
			<h3>{{ annonce.title }}</h3>
			<div class="metadata">Ecrit le {{ annonce.createdAt | date('d/m/Y') }} à {{ annonce.createdAt | date('H:i')}}</div>
		</div>
		<div class="card bg-info text-white" id ="card_id">
			<div class="card-body" id ="card_body_id">
				<img  class="card bg-light text-dark" id="show_image" src="{{ asset('uploads/animals/' ~ annonce.image) }}" alt=""></img>
                <div class="id_pet">
    				<div class="vl"></div>
    				<h2><u>Identité :</u></h2>
    				<p><b>Nom :</b> {{ annonce.animal.name }}</p>
    				{% if annonce.animal.sexe == 'f' %}
    					<p><b>Sexe :</b> Femelle</p>
    				{% else %}
    					<p><b>Sexe :</b> Mâle</p>
    				{% endif %}				
    				<p><b>Region :</b> {{ annonce.animal.region }}</p>
                </div>
			</div>
		</div>
		<div class="card bg-success text-white">
			<div class="card-body">
				<h2><u>Description :</u></h2>
				<p id="annonce_content">{{ annonce.content | raw }}</p>
			</div>
		</div>
		<div class="center">
            {% for booking in bookings %}
                <img id="image_reserve" src="{{ asset('img/reserve.png') }}" alt="réservé">
            {% else %}
    			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    				<button href="#" data-toggle="modal" data-target="#myModal" class="btn btn-info center-block" id="reserve">Reserver</button>
    			{% else %}
    				<a  href="{{ path("login") }}" class="btn btn-info center-block">Reserver</a>
    			{% endif %}
            {% endfor %}
			<a class="btn btn-info" href="{{ path("admin_contact") }}"> Plus d'infos </a>
		</div>
		<!-- line modal -->
	</article>

{% endblock %}
{% block footer %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Demande de confirmation</h3>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                </div>
                <div class="modal-body">
                	{{ form_start(formBook) }}
                	{{form_errors(formBook)}}
                    <p>Vous êtes sur le point de réserver {{ annonce.animal.name }}</p> 
                </div>
                <div class="modal-footer">
                	{{ form_widget(formBook.save) }}
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Non, j'annule</a>
                    {{ form_end(formBook) }}
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function(){
    $modal = $('.modal');
    $modal.find('form').on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "{{ path('reservation_accepted', { 'id': annonce.id}) }}",
            data: $(this).serialize(),
            success: function(message){
                $("#reserve").replaceWith(message)
                $("#myModal").modal('hide');
                $('#show_image').attr('src', "{{ asset('img/reserve.png') }}")
            },
            error: function(){
                alert("Une erreur s'est produite, veuillez réessayer");
            }
        });
    })
}); 
 </script>
{% endblock %}