{% extends('base.html.twig') %}
{% block title %}PetAdopt' : Renouvellement du mot de passe{% endblock %}
{% block head %}
	<header class="header banner" id="header-perso3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href=""><img src="Public/img/logo.png" alt="" id="logo2"></a>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}
	<div class="container" id="renouvellement_header">
		<div class="card card-register mx-auto mt-5">
			<div  class="card-header">
				<h2 id="renouvellement_mdp_title">Renouvellement du mot de passe</h2>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				<?php include('errors.php'); ?>
				<div class="form-group">
					<div class="form-row">
						<div class="col-md-12">
							{{ form_row(form.password.first) }}
						</div>
						<div class="col-md-12">
							{{ form_row(form.password.second) }}
						</div>
						<div class="col-md-12">
							{{form_row(form.submit)}}
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">
				
			</div>
		</div>
	</div>
{% endblock %}