{% extends 'adminBase.html.twig' %}


{% block title %}PetAdopt' : Home - Adopter un animal de compagnie !{% endblock %}
{% block body %}

 <h1> Création d'un article </h1>
    <p><a href="{{ path('ad_new') }}" class="btn btn-success" id="btn-success">Ajouter</a></p>
    <table class="table">
        <thead>
            <tr>
                <th class="title-id">Titre</th>
                <th class="title-id">Contenu</th>
                <th class="title-id">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}
                    <tr>                        
                        <td id="td_title">
                            <h2>{{ ad.title }}</h2>
                            <img src="{{ ad.image }}" alt="photo animal">                    
                        </td>

                        <td id="td_content">
                           {{ ad.content }}
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="{{path('ad_show', { 'id': ad.id})}}">Afficher</a>
                            <a class="btn btn-primary" href="{{path('ad_edit', { 'id': ad.id})}}">Editer</a>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="<?= $this->nettoyer($billet->getTitre()) ?>" data-modal-confirm-url="">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
 
        </tbody>
    </table>
{% endblock %}
{% block footer %}
{% endblock %}