<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="../css/style.css" />
						<link rel="stylesheet" type="text/css" href="../css/profile.css" />
			<link rel="shortcut icon" href="../img/patte2.png" type="image/x-icon">
			<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Crimson+Text|Indie+Flower|Lato|Berkshire+Swash|Tangerine|Roboto|Roboto+Slab|Ubuntu|Sail|Zilla+Slab+Highlight" rel="stylesheet">
			<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css" />
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		{% endblock %}
	</head>
	{% block head %}
	{% endblock %}
	<body id = 'reserv'>
		<nav class="navbar navbar-expand-lg navbar navbar-light bg-light fixed-top" id="nav_admin">
			<a class="navbar-brand" href="/"><img src="{{ asset('img/patte.png') }}" alt="image_paw" style="width:7%";> PetAdopt'</a>			
			<div class="navbar-nav ml-auto" id="navbarColor03">
				<ul class="navbar-nav">
					{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" id="login_button"  href="{{ path('login') }}">Login</a>
						</li>
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="mon_compte" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
							<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-25px, 48px, 0px);">
								{% if is_granted('ROLE_ADMIN') %}
									<a class="dropdown-item" href="{{ path('admin') }}"><i class="fa fa-lock" aria-hidden="true"></i> Administration</a>
								{% endif %}								
								<a class="dropdown-item" href="{{ path('profile') }}"><i class="fa fa-user"></i> Mon profil</a>
								<a class="dropdown-item" href="{{ path('acc_reservation') }}"><i class="fa fa-heart" aria-hidden="true"></i> Réservation(s)</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('logout')}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>
		{% block footer %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>