{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Home - Adopter un animal de compagnie !{% endblock %}
{% block body %}<br/><br/><br/><br/>
	<article>
		<div class="card-header" id="title_show">
			<h3>{{ annonce.title }}</h3>
			<div class="metadata">Ecrit le {{ annonce.createdAt | date('d/m/Y') }} à {{ annonce.createdAt | date('H:i')}}</div>
		</div><br/>
		<img  class="card bg-light text-dark" id="show_image" src="{{ annonce.image }}" alt=""></img>
		<div class="card bg-info text-white">
			<div class="card-body">
				<div class="vl"></div>
				<h2>Information</h2>
				<p><strong>Nom :</strong> {{ annonce.animal.name }}</p>

				{% if annonce.animal.sexe == 'f' %}
					<p><strong>Sexe:</strong> Femelle</p>
				{% else %}
					<p><strong>Sexe:</strong> Mâle</p>
				{% endif %}
				
				<p><strong>Lieu d'adoption:</strong> {{ annonce.animal.region }}</p>
			</div>

		</div><br/>
		<div class="card bg-success text-white">
			<div class="card-body">
				<h2> Description </h2>
				{{ annonce.content | raw }}
			</div>
		</div><br/>
		<button class="btn btn-info">Réserver</button>
		<button class="btn btn-info">En savoir plus</button>
	</article>
{% endblock %}
{% block footer %}
{% endblock %}