{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Home - Adopter un animal de compagnie !{% endblock %}
{% block body %}<br/><br/><br/><br/>
	<article>
		<div class="card-header" id="title_show">
			<h3>{{ annonce.title }}</h3>
			<div class="metadata">Ecrit le {{ annonce.createdAt | date('d/m/Y') }} à {{ annonce.createdAt | date('H:i')}}</div>
		</div><br/>
		<div class="card bg-info text-white">
			<div class="card-body">
				<img  class="card bg-light text-dark" id="show_image" src="{{ asset('uploads/animals/' ~ annonce.image) }}" alt=""></img>
				<div class="vl"></div>
				<h2><u>Identité</u> :</h2>
				<p><b>Nom :</b> {{ annonce.animal.name }}</p>
				{% if annonce.animal.sexe == 'f' %}
					<p><b>Sexe :</b> Femelle</p>
				{% else %}
					<p><b>Sexe :</b> Mâle</p>
				{% endif %}
				
				<p><b>Region :</b> {{ annonce.animal.region }}</p>
			</div>
		</div><br/>
		<div class="card bg-success text-white">
			<div class="card-body">
				<h2><u>Description</u> :</h2>
				{{ annonce.content | raw }}
			</div>
		</div><br/>
		<div class="center">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<button href="#" data-toggle="modal" data-target="#myModal" class="btn btn-info center-block" data-billet-title="{{ annonce.animal.name }}" data-modal-confirm-url="{{ path('ad_show', { 'id': annonce.id}) }}">Reserver</button>
			{% else %}
			<a  href="{{ path("login") }}" class="btn btn-info center-block">Reserver</a>
			{% endif %}
			<a class="btn btn-info" href="{{ path("admin_contact") }}"> Plus d'infos </a>
		</div>
		<!-- line modal -->
	    <br/>
	</article>
	<br/>
{% endblock %}
{% block footer %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Demande de confirmation</h3>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                </div>
                <div class="modal-body">
                	{{ form_start(formBook) }}
                	{{form_errors(formBook)}}
                    <p>Etes-vous sur de vouloir supprimer l'annonce concernée ?</p> 
                </div>
                <div class="modal-footer">
                	{{ form_widget(formBook.save) }}
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-secondary">Non, j'annule</a>
                    {{ form_end(formBook) }}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function(){
        $modal = $('.modal');
        $('button.btn-info').on('click',function(e){
            e.preventDefault();
            $modal.find('a#btnYes').attr('href',$(this).data('modalConfirmUrl'));
            $modal.find('.modal-body p').text("Vous êtes sur le point de réserver " + $(this).data('billetTitle'));
            $modal.modal("show");
        })
    });
    
    $(document).ready(function(){
        $('a#btnYes').click(function(){
            $('.alert').show()
        })
    });
</script>
{% endblock %}